[req]
default_bits = 2048
default_md = sha256
encrypt_key = yes
prompt = no
string_mask = utf8only
distinguished_name = client_distinguished_name
req_extensions = req_cert_extensions

[ client_distinguished_name ]
UID = 74e929d9-33b6-4d85-8ba7-c146c867a817
countryName = BR
organizationName = ICP-Brasil
0.organizationalUnitName = ICP-Brasil
1.organizationalUnitName = Directory Certificate Authority
2.organizationalUnitName = In Person
commonName = Open Banking Brasil

[ req_cert_extensions ] 
basicConstraints = CA:FALSE
subjectAltName = @alt_name
keyUsage = critical,digitalSignature,nonRepudiation

[ alt_name ] 
otherName.0 = 2.16.76.1.3.2;UTF8:Erick Domingues
otherName.1 = 2.16.76.1.3.3;UTF8:1335323600189
otherName.2 = 2.16.76.1.3.4;UTF8:1335323600189
otherName.3 = 2.16.76.1.3.7;UTF8:1335323600189