openapi: 3.0.3
info:
  title: API Accounts - Open Banking Brasil
  description: >
    API de contas de depósito à vista, contas de poupança e contas pré-pagas do
    Open Banking Brasil – Fase 2.

    API que retorna informações de contas de depósito à vista, contas de
    poupança e contas de pagamento pré-pagas mantidas nas instituições
    transmissoras por seus clientes,

    incluindo dados de identificação da conta, saldos, limites e transações.\

    Não possui segregação entre pessoa natural e pessoa jurídica.\

    Requer consentimento do cliente para todos os `endpoints`.


    # Orientações

    A `Role`  do diretório de participantes relacionada à presente API é a
    `DADOS`.\

    Para todos os `endpoints` desta API é previsto o envio de um `token` através
    do header `Authorization`.\

    Este token deverá estar relacionado ao consentimento (`consentId`) mantido
    na instituição transmissora dos dados, o qual permitirá a pesquisa e
    retorno, na API em questão, dos

    dados relacionados ao `consentId` específico relacionado.\

    Os dados serão devolvidos na consulta desde que o `consentId` relacionado
    corresponda a um consentimento válido e com o status `AUTHORISED`.\

    É também necessário que o recurso em questão (conta, contrato, etc) esteja
    disponível na instituição transmissora (ou seja, sem boqueios de qualquer
    natureza e com todas as autorizações/consentimentos já autorizados).\

    Além disso as `permissions` necessárias deverão ter sido solicitadas quando
    da criação do consentimento relacionado (`consentId`).\

    Relacionamos a seguir as `permissions` necessárias para a consulta de dados
    em cada `endpoint` da presente API.


    ## Permissions necessárias para a API Accounts


    Para cada um dos paths desta API, além dos escopos (`scopes`) indicados
    existem `permissions` que deverão ser observadas:


    ### `/accounts`
      - permissions:
        - GET: **ACCOUNTS_READ**
    ### `/accounts/{accountId}`
      - permissions:
        - GET: **ACCOUNTS_READ**
    ### `/accounts/{accountId}/balances`
      - permissions:
        - GET: **ACCOUNTS_BALANCES_READ**
    ### `/accounts/{accountId}/transactions`
      - permissions:
        - GET: **ACCOUNTS_TRANSACTIONS_READ**
    ### `/accounts/{accountId}/overdraft-limits`
      - permissions:
        - GET: **ACCOUNTS_OVERDRAFT_LIMITS_READ**
  version: 1.0.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/accounts/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/accounts/v1'
    description: Servidor de Homologação
tags:
  - name: Accounts
    description: Operações para listagem das informações da Conta do Cliente
  - name: Consents
    description: >-
      Operações para criação, consulta e revogação do consentimento dado pelo
      cliente.
  - name: Credit Card
    description: Operações para listagem das informações de Cartão de Crédito
  - name: Resources
  - name: Customers
    description: Operações para listagem das informações Cadastrais do Cliente
  - name: Loans
  - name: Financings
  - name: Unarranged Accounts Overdraft
  - name: Invoice Financings
  - name: Payments
  - name: User
paths:
  /loans/v1/contracts:
    get:
      tags:
        - Loans
      operationId: loansGetContracts
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoansContractList'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError1'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": [
                      {
                        "contractId": "92792126019929279212650822221989319252576",
                        "brandName": "Organização A",
                        "companyCnpj": "21128159000166",
                        "productType": "EMPRESTIMOS",
                        "productSubType": "CREDITO_PESSOAL_COM_CONSIGNACAO",
                        "ipocCode": "92792126019929279212650822221989319252576"
                      }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/resources/v1/resources"
                    },
                    "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-28T11:40:00Z"
                    }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: >-
            #set($access_token = $context.authorizer.access_token)

            #set($permissionsObj =
            $util.parseJson($access_token).open_banking_consent.data.permissions)

            #set($authorized = $permissionsObj.contains("LOANS_READ"))

            #if($authorized)

            {"statusCode": 200}

            #else

            {"statusCode": 403}

            #end
        passthroughBehavior: when_no_match
  /customers/v1/business/identifications:
    get:
      operationId: customersGetBusinessIdentifications
      tags:
        - Customers
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                  "data": [
                    {
                      "updateDateTime": "2021-05-21T08:30:00Z",
                      "businessId": "578-psd-71md6971kjh-2d414",
                      "brandName": "Organização A",
                      "companyName": "Luiza e Benjamin Assessoria Jurídica Ltda",
                      "tradeName": "Mundo da Eletronica",
                      "incorporationDate": "2021-05-21T08:30:00Z",
                      "cnpjNumber": "50685362006773",
                      "companyCnpjNumber": [
                        "50685362000135",
                        "50685362006555"
                      ],
                      "otherDocuments": [
                        {
                          "type": "EIN",
                          "number": "128328453",
                          "country": "CAN",
                          "expirationDate": "2021-05-21"
                        }
                      ],
                      "parties": [
                        {
                          "personType": "PESSOA_NATURAL",
                          "type": "SOCIO",
                          "civilName": "Juan Kaique Cláudio Fernandes",
                          "socialName": "Karina",
                          "companyName": "Luiza e Benjamin Assessoria Jurídica Ltda",
                          "tradeName": "Mundo da Eletronica",
                          "startDate": "2021-05-21T08:30:00Z",
                          "shareholding": "0.51",
                          "documentType": "CPF",
                          "documentNumber": "73677831148",
                          "documentAdditionalInfo": "CNH",
                          "documentCountry": "CAN",
                          "documentExpirationDate": "2021-05-21",
                          "documentIssueDate": "2021-05-21"
                        }
                      ],
                      "contacts": {
                        "postalAddresses": [
                          {
                            "isMain": true,
                            "address": "Av Naburo Ykesaki, 1270",
                            "additionalInfo": "Fundos",
                            "districtName": "Centro",
                            "townName": "Marília",
                            "ibgeTownCode": "3550308",
                            "countrySubDivision": "SP",
                            "postCode": "17500001",
                            "country": "Brasil",
                            "countryCode": "BRA",
                            "geographicCoordinates": {
                              "latitude": "-89.8365180",
                              "longitude": "-178.836519"
                            }
                          }
                        ],
                        "phones": [
                          {
                            "isMain": true,
                            "type": "FIXO",
                            "additionalInfo": "Informações adicionais.",
                            "countryCallingCode": "55",
                            "areaCode": "19",
                            "number": "29875132",
                            "phoneExtension": "932"
                          }
                        ],
                        "emails": [
                          {
                            "isMain": true,
                            "email": "karinafernandes-81@br.inter.net"
                          }
                        ]
                      }
                    }
                  ],
                  "links": {
                    "self": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/identifications",
                    "first": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/identifications",
                    "prev": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/identifications",
                    "next": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/identifications",
                    "last": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/identifications"
                  },
                  "meta": {
                    "totalRecords": 1,
                    "totalPages": 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: >-
            #set($access_token = $context.authorizer.access_token)

            #set($permissionsObj =
            $util.parseJson($access_token).open_banking_consent.data.permissions)

            #set($authorized =
            $permissionsObj.contains("CUSTOMERS_BUSINESS_IDENTIFICATIONS_READ"))

            #if($authorized)

            {"statusCode": 200}

            #else

            {"statusCode": 403}

            #end
        passthroughBehavior: when_no_match
  '/credit-cards-accounts/v1/accounts/{creditCardAccountId}/bills/{billId}/transactions':
    get:
      operationId: creditCardsGetAccountsCreditCardAccountIdBillsBillIdTransactions
      tags:
        - Credit Card
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: payeeMCC
          in: query
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
        - name: toTransactionDate
          in: query
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: creditCardAccountId
          in: path
          required: true
          schema:
            type: string
        - name: transactionType
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: fromTransactionDate
          in: query
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: billId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsTransactions'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": [
                        {
                            "transactionId": "TXpRMU9UQTROMWhZV2xSU1FUazJSMDl",
                            "identificationNumber": "4453",
                            "lineName": "CREDITO_A_VISTA",
                            "transactionName": "PGTO",
                            "billId": "MTU0OTU1NjI2NTk4OTRmc2ZhZDRmc2Q1NmZkM",
                            "creditDebitType": "DEBITO",
                            "transactionType": "CASHBACK",
                            "transactionalAdditionalInfo": "string",
                            "paymentType": "A_VISTA",
                            "feeType": "ANUIDADE",
                            "feeTypeAdditionalInfo": "string",
                            "otherCreditsType": "CREDITO_ROTATIVO",
                            "otherCreditsAdditionalInfo": "string",
                            "chargeIdentificator": "PARCELA_1",
                            "chargeNumber": 3,
                            "brazilianAmount": 100000.04,
                            "amount": 100000.04,
                            "currency": "BRL",
                            "transactionDate": "2021-05-21",
                            "billPostDate": "2021-05-21",
                            "payeeMCC": 5137
                        }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills/3459087XXZTR/transactions",
                        "first": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills/3459087XXZTR/transactions",
                        "prev": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills/3459087XXZTR/transactions",
                        "next": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills/3459087XXZTR/transactions",
                        "last": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills/3459087XXZTR/transactions"
                    },
                    "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-21T08:30:00Z"
                    }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: >-
            #set($access_token = $context.authorizer.access_token)
            #set($permissionsObj =
            $util.parseJson($access_token).open_banking_consent.data.permissions)
            #set($authorized =
            $permissionsObj.contains("CREDIT_CARDS_ACCOUNTS_BILLS_TRANSACTIONS_READ"))
            #if($authorized)
            {"statusCode": 200} #else {"statusCode": 403} #end
        passthroughBehavior: when_no_match
  /financings/v1/contracts:
    get:
      operationId: financingsGetContracts
      tags:
        - Financings
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsContractList'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": [
                        {
                            "contractId": "92792126019929279212650822221989319252576",
                            "brandName": "Organização A",
                            "companyCnpj": "21128159000166",
                            "productType": "FINANCIAMENTOS",
                            "productSubType": "AQUISICAO_BENS_VEICULOS_AUTOMOTORES",
                            "ipocCode": "92792126019929279212650822221989319252576"
                        }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/financings/v1/contracts",
                        "first": "https://matls-api.mockbank.poc.raidiam.io/financings/v1/contracts",
                        "prev": "https://matls-api.mockbank.poc.raidiam.io/financings/v1/contracts",
                        "next": "https://matls-api.mockbank.poc.raidiam.io/financings/v1/contracts",
                        "last": "https://matls-api.mockbank.poc.raidiam.io/financings/v1/contracts"
                    },
                    "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-21T08:30:00Z"
                    }
                }

                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: >-
            #set($access_token = $context.authorizer.access_token)

            #set($permissionsObj =
            $util.parseJson($access_token).open_banking_consent.data.permissions)

            #set($authorized = $permissionsObj.contains("FINANCINGS_READ"))

            #if($authorized)

            {"statusCode": 200}

            #else

            {"statusCode": 403}

            #end
        passthroughBehavior: when_no_match
  /me:
    get:
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Introspection'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${op_lambda_invoke_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/user/{userId}/credit-card-accounts':
    get:
      operationId: getUserCreditCardAccounts
      tags:
        - User
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsList'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": [
                        {
                          "creditCardAccountId": "PIITR3459087",
                          "brandName": "Sib Bank",
                          "companyCnpj": "40156018000100",
                          "name": "Dinners Grafite",
                          "productType": "GRAFITE",
                          "productAdditionalInfo": "Dinners Elo Grafite",
                          "creditCardNetwork": "DINERS_CLUB",
                          "networkAdditionalInfo": "NA"
                        }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts"
                    },
                    "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-25T13:48:00Z"
                    }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
  /device/auth:
    post:
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntrospectionRequest'
        required: true
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Introspection'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${op_lambda_invoke_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/consents/v1/consents/{consentId}':
    get:
      tags:
        - Consents
      operationId: consentsGetConsentsConsentId
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: consentId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content: {}
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_write_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
    put:
      operationId: consentsPutConsents
      tags:
        - Consents
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: consentId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConsent'
        required: true
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseConsentFull'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '415':
          description: 415 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_write_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
    delete:
      operationId: consentsDeleteConsentsConsentId
      tags:
        - Consents
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: consentId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '204':
          description: 204 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content: {}
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_write_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/user/{userId}/loans':
    get:
      operationId: getUserLoans
      tags:
        - User
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountList'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": [
                        {
                            "brandName": "Sib Bank",
                            "companyCnpj": "40156018000100",
                            "type": "CONTA_DEPOSITO_A_VISTA",
                            "compeCode": "123",
                            "branchCode": "6272",
                            "number": "94088392",
                            "checkDigit": "4",
                            "accountId": "291e5a29-49ed-401f-a583-193caa7aceee"
                        },
                        {
                            "brandName": "Sib Bank",
                            "companyCnpj": "40156018000100",
                            "type": "CONTA_POUPANCA",
                            "compeCode": "123",
                            "branchCode": "6272",
                            "number": "11188222",
                            "checkDigit": "4",
                            "accountId": "291e5a29-49ed-401f-a583-193caa7acddd"
                        }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/accounts/v1/accounts"
                    },
                    "meta": {
                        "totalRecords": 2,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-25T13:48:00Z"
                    }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
  '/user/{userId}/accounts':
    get:
      operationId: getUserAccounts
      tags:
        - User
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountList'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": [
                        {
                            "brandName": "Sib Bank",
                            "companyCnpj": "40156018000100",
                            "type": "CONTA_DEPOSITO_A_VISTA",
                            "compeCode": "123",
                            "branchCode": "6272",
                            "number": "94088392",
                            "checkDigit": "4",
                            "accountId": "291e5a29-49ed-401f-a583-193caa7aceee"
                        },
                        {
                            "brandName": "Sib Bank",
                            "companyCnpj": "40156018000100",
                            "type": "CONTA_POUPANCA",
                            "compeCode": "123",
                            "branchCode": "6272",
                            "number": "11188222",
                            "checkDigit": "4",
                            "accountId": "291e5a29-49ed-401f-a583-193caa7acddd"
                        }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/accounts/v1/accounts"
                    },
                    "meta": {
                        "totalRecords": 2,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-25T13:48:00Z"
                    }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: '{"statusCode": 200}'
        passthroughBehavior: when_no_match
  '/accounts/v1/accounts/{accountId}/transactions':
    get:
      operationId: getAccountsAccountIdTransactions
      tags:
        - Accounts
      parameters:
        - name: toBookingDate
          in: query
          schema:
            type: string
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: creditDebitIndicator
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
        - name: fromBookingDate
          in: query
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: accountId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: >-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                #if($method.request.path.accountId ==
                "291e5a29-49ed-401f-a583-193caa7aceee")

                {
                    "data": [
                        {
                            "transactionId": "e67ed6ac-6841-44a6-b3d7-1f19d34dc204",
                            "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                            "creditDebitType": "DEBITO",
                            "transactionName": "PAGAMENTO",
                            "type": "CARTAO",
                            "amount": 771.52,
                            "transactionCurrency": "BRL",
                            "transactionDate": "2021-05-20",
                            "partieCnpjCpf": "87517400444",
                            "partiePersonType": "PESSOA_NATURAL",
                            "partieCompeCode": "123",
                            "partieBranchCode": "6272",
                            "partieNumber": "94088392",
                            "partieCheckDigit": "4"
                        }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/accounts/v1/accounts/291e5a29-49ed-401f-a583-193caa7aceee/transactions"
                    },
                    "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-25T15:43:00Z"
                    }
                }

                #end

                #if($method.request.path.accountId ==
                "291e5a29-49ed-401f-a583-193caa7acddd")

                {
                    "data": [
                        {
                            "transactionId": "bccfee35-979e-4901-b12a-415fefda9a74",
                            "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                            "creditDebitType": "DEBITO",
                            "transactionName": "PAGAMENTO",
                            "type": "CARTAO",
                            "amount": 312.52,
                            "transactionCurrency": "BRL",
                            "transactionDate": "2021-05-21",
                            "partieCnpjCpf": "87517400444",
                            "partiePersonType": "PESSOA_NATURAL",
                            "partieCompeCode": "123",
                            "partieBranchCode": "6272",
                            "partieNumber": "94088392",
                            "partieCheckDigit": "4"
                        },
                        {
                            "transactionId": "b880d1c9-b1cb-4df5-9d7e-3af9f517ba67",
                            "completedAuthorisedPaymentType": "TRANSACAO_EFETIVADA",
                            "creditDebitType": "DEBITO",
                            "transactionName": "PAGAMENTO",
                            "type": "CARTAO",
                            "amount": 3311.35,
                            "transactionCurrency": "BRL",
                            "transactionDate": "2021-05-21",
                            "partieCnpjCpf": "87517400444",
                            "partiePersonType": "PESSOA_NATURAL",
                            "partieCompeCode": "123",
                            "partieBranchCode": "6272",
                            "partieNumber": "94088392",
                            "partieCheckDigit": "4"
                        }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/accounts/v1/accounts/291e5a29-49ed-401f-a583-193caa7acddd/transactions"
                    },
                    "meta": {
                        "totalRecords": 2,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-25T15:43:00Z"
                    }
                }

                #end

                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: >-
            #set($access_token = $context.authorizer.access_token)
            #set($permissionsObj =
            $util.parseJson($access_token).open_banking_consent.data.permissions)
            #set($authorized =
            $permissionsObj.contains("ACCOUNTS_TRANSACTIONS_READ"))
            #if(($method.request.path.accountId ==
            "291e5a29-49ed-401f-a583-193caa7aceee" ||
            $method.request.path.accountId ==
            "291e5a29-49ed-401f-a583-193caa7acddd") && $authorized)
            {"statusCode": 200} #else {"statusCode": 403} #end
        passthroughBehavior: when_no_match
  /reg:
    post:
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntrospectionRequest'
        required: true
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Introspection'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${op_lambda_invoke_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/credit-cards-accounts/v1/accounts/{creditCardAccountId}':
    get:
      operationId: creditCardsGetAccountsCreditCardAccountId
      tags:
        - Credit Card
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: creditCardAccountId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsIdentification'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": {
                      "name": "Dinners Grafite",
                      "productType": "GRAFITE",
                      "productAdditionalInfo": "Dinners Elo Grafite",
                      "creditCardNetwork": "DINERS_CLUB",
                      "networkAdditionalInfo": "NA",
                      "paymentMethod": [{
                        "identificationNumber": "8921",
                        "isMultipleCreditCard": false
                      }]
                    },
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087"
                    },
                    "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-25T13:48:00Z"
                    }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: >-
            #set($access_token = $context.authorizer.access_token)
            #set($permissionsObj =
            $util.parseJson($access_token).open_banking_consent.data.permissions)
            #set($authorized =
            $permissionsObj.contains("CREDIT_CARDS_ACCOUNTS_READ"))
            #if(($method.request.path.creditCardAccountId == "PIITR3459087") &&
            $authorized) {"statusCode": 200} #else {"statusCode": 403} #end
        passthroughBehavior: when_no_match
  /customers/v1/business/financial-relations:
    get:
      operationId: customersGetBusinessFinancialRelations
      tags:
        - Customers
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseBusinessCustomersFinancialRelation
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                  "data": {
                    "updateDateTime": "2020-07-21T08:30:00Z",
                    "startDate": "2020-07-21T08:30:00Z",
                    "productsServicesType": [
                      "SEGURO"
                    ],
                    "procurators": [
                      {
                        "type": "PROCURADOR",
                        "cnpjCpfNumber": "73677831148",
                        "civilName": "Elza Milena Stefany Teixeira",
                        "socialName": "Stefany Teixeirass"
                      }
                    ],
                    "accounts": [
                      {
                        "compeCode": "123",
                        "branchCode": "6272",
                        "number": "94088392",
                        "checkDigit": "4",
                        "type": "CONTA_DEPOSITO_A_VISTA"
                      }
                    ]
                  },
                  "links": {
                    "self": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/financial-relations",
                    "first": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/financial-relations",
                    "prev": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/financial-relations",
                    "next": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/financial-relations",
                    "last": "https://matls-api.mockbank.poc.raidiam.io/customers/v1/business/financial-relations"
                  },
                  "meta": {
                    "totalRecords": 1,
                    "totalPages": 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: >-
            #set($access_token = $context.authorizer.access_token)
            #set($permissionsObj =
            $util.parseJson($access_token).open_banking_consent.data.permissions)
            #set($authorized =
            $permissionsObj.contains("CUSTOMERS_BUSINESS_ADITTIONALINFO_READ"))
            #if($authorized) {"statusCode": 200} #else {"statusCode": 403} #end
        passthroughBehavior: when_no_match
  '/unarranged-overdraft/v1/contracts/{contractId}':
    get:
      operationId: unarrangedAccountsOverdraftGetContractsContractId
      tags:
        - Unarranged Accounts Overdraft
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: contractId
          in: path
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/ResponseUnarrangedAccountOverdraftContract
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError1'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError2'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                  "errors" : [
                    {
                      "code" : "403",
                      "title" : "Forbidden",
                      "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                    }
                  ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": {
                        "contractNumber": "1324926521496",
                        "ipocCode": "92792126019929279212650822221989319252576",
                        "productName": "AD",
                        "productType": "ADIANTAMENTO_A_DEPOSITANTES",
                        "productSubType": "ADIANTAMENTO_A_DEPOSITANTES",
                        "contractDate": "2018-01-05",
                        "disbursementDate": "2018-01-15",
                        "settlementDate": "2018-01-15",
                        "contractAmount": 100000.04,
                        "currency": "BRL",
                        "dueDate": "2028-01-15",
                        "instalmentPeriodicity": "SEMANAL",
                        "instalmentPeriodicityAdditionalInfo": "Informações adicionais sobre periodicidade",
                        "firstInstalmentDueDate": "2018-02-15",
                        "CET": 0.29,
                        "amortizationScheduled": "SAC",
                        "amortizationScheduledAdditionalInfo": "NA",
                        "interestRates": [
                            {
                                "taxType": "EFETIVA",
                                "interestRateType": "SIMPLES",
                                "taxPeriodicity": "AA",
                                "calculation": "21/252",
                                "referentialRateIndexerType": "PRE_FIXADO",
                                "referentialRateIndexerSubType": "TJLP",
                                "referentialRateIndexerAdditionalInfo": "Informações adicionais",
                                "preFixedRate": 0.6,
                                "postFixedRate": 0.55,
                                "additionalInfo": "Informações adicionais"
                            }
                        ],
                        "contractedFees": [
                            {
                                "feeName": "Excesso em Conta",
                                "feeCode": "EXCESSO_CONTA",
                                "feeChargeType": "UNICA",
                                "feeCharge": "MINIMO",
                                "feeAmount": 100000.04,
                                "feeRate": 50
                            }
                        ],
                        "contractedFinanceCharges": [
                            {
                                "chargeType": "JUROS_REMUNERATORIOS_POR_ATRASO",
                                "chargeAdditionalInfo": "Informações adicionais sobre encargos.",
                                "chargeRate": 0.07
                            }
                        ]
                    },
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/unarranged-overdraft/v1/contracts/1324926521496",
                        "first": "https://matls-api.mockbank.poc.raidiam.io/unarranged-overdraft/v1/contracts/1324926521496",
                        "prev": "https://matls-api.mockbank.poc.raidiam.io/unarranged-overdraft/v1/contracts/1324926521496",
                        "next": "https://matls-api.mockbank.poc.raidiam.io/unarranged-overdraft/v1/contracts/1324926521496",
                        "last": "https://matls-api.mockbank.poc.raidiam.io/unarranged-overdraft/v1/contracts/1324926521496"
                    },
                    "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-21T08:30:00Z"
                    }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
        requestTemplates:
          application/json: >-
            #set($access_token = $context.authorizer.access_token)

            #set($permissionsObj =
            $util.parseJson($access_token).open_banking_consent.data.permissions)

            #set($authorized =
            $permissionsObj.contains("UNARRANGED_ACCOUNTS_OVERDRAFT_READ"))

            #if($authorized)

            {"statusCode": 200}

            #else

            {"statusCode": 403}

            #end
        passthroughBehavior: when_no_match
  /token:
    post:
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntrospectionRequest'
        required: true
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Introspection'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${op_lambda_invoke_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/credit-cards-accounts/v1/accounts/{creditCardAccountId}/bills':
    get:
      tags:
        - Credit Card
      operationId: creditCardsGetAccountsCreditCardAccountIdBills
      parameters:
        - name: x-fapi-customer-ip-address
          in: header
          schema:
            type: string
        - name: fromDueDate
          in: query
          schema:
            type: string
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: x-fapi-auth-date
          in: header
          schema:
            type: string
        - name: x-customer-user-agent
          in: header
          schema:
            type: string
        - name: page-size
          in: query
          schema:
            type: string
        - name: x-fapi-interaction-id
          in: header
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: string
        - name: creditCardAccountId
          in: path
          required: true
          schema:
            type: string
        - name: toDueDate
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 200 response
          headers:
            x-fapi-interaction-id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsBills'
        '400':
          description: 400 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '401':
          description: 401 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '403':
          description: 403 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '404':
          description: 404 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '405':
          description: 405 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '406':
          description: 406 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '429':
          description: 429 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
        '500':
          description: 500 response
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: []
      x-amazon-apigateway-integration:
        type: mock
        responses:
          '403':
            statusCode: '403'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)

                {
                  "errors" : [
                 {
                    "code" : "403",
                    "title" : "Forbidden",
                    "detail" : "O token tem escopo incorreto ou uma política de segurança foi violada"
                  }
                ],
                  "meta" : {
                    "totalRecords" : 1,
                    "totalPages" : 1,
                    "requestDateTime": "2021-05-21T08:30:00Z"
                  }
                }
                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
          default:
            statusCode: '200'
            responseTemplates:
              application/json: |-
                #set($urlProxy = $method.request.header.x-fapi-interaction-id)
                {
                    "data": [
                        {
                            "billId": "3459087XXZTR",
                            "dueDate": "2021-05-21",
                            "billTotalAmount": 100000.04,
                            "billTotalAmountCurrency": "BRL",
                            "billMinimumAmount": 1000.04,
                            "billMinimumAmountCurrency": "BRL",
                            "isInstalment": false,
                            "financeCharges": [
                                {
                                    "type": "JUROS_REMUNERATORIOS_ATRASO_PAGAMENTO_FATURA",
                                    "additionalInfo": "Informações Adicionais",
                                    "amount": 100000.04,
                                    "currency": "BRL"
                                }
                            ],
                            "payments": [
                                {
                                    "valueType": "VALOR_PAGAMENTO_FATURA_PARCELADO",
                                    "paymentDate": "2021-05-21",
                                    "paymentMode": "DEBITO_CONTA_CORRENTE",
                                    "amount": 100000.04,
                                    "currency": "BRL"
                                }
                            ]
                        }
                    ],
                    "links": {
                        "self": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills",
                        "first": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills",
                        "prev": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills",
                        "next": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills",
                        "last": "https://matls-api.mockbank.poc.raidiam.io/credit-cards-accounts/v1/accounts/PIITR3459087/bills"
                    },
                    "meta": {
                        "totalRecords": 1,
                        "totalPages": 1,
                        "requestDateTime": "2021-05-21T08:30:00Z"
                    }
                }

                #if( $urlProxy.isEmpty())
                  #set($context.responseOverride.header.x-fapi-interaction-id = "a9e1ee6d-1946-443a-8b39-16fe99518c9e")
                #else
                  #set($context.responseOverride.header.x-fapi-interaction-id   = $urlProxy)

                #end
[...]
