openapi: 3.0.3
info:
  title: API Accounts - Open Banking Brasil
  description: >
    API de contas de depósito à vista, contas de poupança e contas pré-pagas do
    Open Banking Brasil – Fase 2.

    API que retorna informações de contas de depósito à vista, contas de
    poupança e contas de pagamento pré-pagas mantidas nas instituições
    transmissoras por seus clientes,

    incluindo dados de identificação da conta, saldos, limites e transações.\

    Não possui segregação entre pessoa natural e pessoa jurídica.\

    Requer consentimento do cliente para todos os `endpoints`.


    # Orientações

    A `Role`  do diretório de participantes relacionada à presente API é a
    `DADOS`.\

    Para todos os `endpoints` desta API é previsto o envio de um `token` através
    do header `Authorization`.\

    Este token deverá estar relacionado ao consentimento (`consentId`) mantido
    na instituição transmissora dos dados, o qual permitirá a pesquisa e
    retorno, na API em questão, dos

    dados relacionados ao `consentId` específico relacionado.\

    Os dados serão devolvidos na consulta desde que o `consentId` relacionado
    corresponda a um consentimento válido e com o status `AUTHORISED`.\

    É também necessário que o recurso em questão (conta, contrato, etc) esteja
    disponível na instituição transmissora (ou seja, sem boqueios de qualquer
    natureza e com todas as autorizações/consentimentos já autorizados).\

    Além disso as `permissions` necessárias deverão ter sido solicitadas quando
    da criação do consentimento relacionado (`consentId`).\

    Relacionamos a seguir as `permissions` necessárias para a consulta de dados
    em cada `endpoint` da presente API.


    ## Permissions necessárias para a API Accounts


    Para cada um dos paths desta API, além dos escopos (`scopes`) indicados
    existem `permissions` que deverão ser observadas:


    ### `/accounts`
      - permissions:
        - GET: **ACCOUNTS_READ**
    ### `/accounts/{accountId}`
      - permissions:
        - GET: **ACCOUNTS_READ**
    ### `/accounts/{accountId}/balances`
      - permissions:
        - GET: **ACCOUNTS_BALANCES_READ**
    ### `/accounts/{accountId}/transactions`
      - permissions:
        - GET: **ACCOUNTS_TRANSACTIONS_READ**
    ### `/accounts/{accountId}/overdraft-limits`
      - permissions:
        - GET: **ACCOUNTS_OVERDRAFT_LIMITS_READ**
  version: 1.2.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/accounts/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/accounts/v1'
    description: Servidor de Homologação
tags:
  - name: Accounts v2
    description: Operações para listagem das informações da Conta do Cliente
  - name: Consents v2
    description: Operações para criação, consulta e revogação do consentimento dado pelo cliente.
  - name: Credit Card
    description: Operações para listagem das informações de Cartão de Crédito
  - name: Credit Card v2
    description: Operações para listagem das informações de Cartão de Crédito
  - name: Resources
  - name: Resources v2
  - name: Customers v2
  - name: Loans
  - name: Loans v2
  - name: Financings
  - name: Financings v2
  - name: Invoice Financings
  - name: Invoice Financings v2
  - name: Unarranged Accounts Overdraft
  - name: Unarranged Accounts Overdraft v2
  - name: Payments
  - name: User
  - name: Admin
paths:
  '/open-banking/customers/v2/personal/identifications':
    get:
      tags:
        - Customers v2
      summary: Obtém os registros de identificação da pessoa natural.
      description: Método para obter os registros de identificação da pessoa natural mantidos na instituição transmissora.
      operationId: customersGetPersonalIdentificationsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponsePersonalCustomersIdentificationV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/customers/v2/personal/qualifications':
    get:
      tags:
        - Customers v2
      summary: Obtém os registros de qualificação da pessoa natural.
      description: Método para obter os registros de qualificação da pessoa natural mantidos na instituição transmissora.
      operationId: customersGetPersonalQualificationsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponsePersonalCustomersQualificationV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/customers/v2/personal/financial-relations':
    get:
      tags:
        - Customers v2
      summary: Obtém os registros de relacionamentos com a instituição financeira e de representantes da pessoa natural.
      description: Método para obter registros de relacionamentos com a instituição financeira e de representantes da pessoa natural mantidos na instituição transmissora.
      operationId: customersGetPersonalFinancialRelationsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponsePersonalCustomersFinancialRelationV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/customers/v2/business/identifications':
    get:
      tags:
        - Customers v2
      summary: Obtém os registros de identificação da pessoa jurídica.
      description: Método para obter os registros de identificação da pessoa jurídica mantidos na instituição transmissora
      operationId: customersGetBusinessIdentificationsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseBusinessCustomersIdentificationV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/customers/v2/business/qualifications':
    get:
      tags:
        - Customers v2
      summary: Obtém os registros de qualificação da pessoa jurídica.
      description: Método para obter os registros de qualificação da pessoa jurídica mantidos na instituição transmissora.
      operationId: customersGetBusinessQualificationsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseBusinessCustomersQualificationV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/customers/v2/business/financial-relations':
    get:
      tags:
        - Customers v2
      summary: Obtém os registros de relacionamentos com a instituição financeira e de representantes da pessoa jurídica.
      description: Método para obter registros de relacionamentos com a instituição financeira e de representantes da pessoa jurídica mantidos na instituição transmissora.
      operationId: customersGetBusinessFinancialRelationsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseBusinessCustomersFinancialRelationV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/accounts/v2/accounts':
    get:
      tags:
        - Accounts v2
      summary: Obtém a lista de contas consentidas pelo cliente.
      operationId: accountsGetAccounts
      description: Método para obter a lista de contas depósito à vista, poupança e pagamento pré-pagas mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/accountTypeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountListV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/accounts/v2/accounts/{accountId}':
    get:
      tags:
        - Accounts v2
      summary: Obtém os dados de identificação da conta identificada por accountId.
      description: Método para obter os dados de identificação da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      operationId: accountsGetAccountsAccountId
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountIdV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountIdentificationV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/accounts/v2/accounts/{accountId}/balances':
    get:
      tags:
        - Accounts v2
      summary: Obtém os saldos da conta identificada por accountId.
      operationId: accountsGetAccountsAccountIdBalances
      description: Método para obter os saldos da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountIdV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountBalancesV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/accounts/v2/accounts/{accountId}/transactions':
    get:
      tags:
        - Accounts v2
      summary: Obtém a lista de transações da conta identificada por accountId.
      operationId: accountsGetAccountsAccountIdTransactions
      description: Método para obter a lista de transações da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/fromBookingDateV2'
        - $ref: '#/components/parameters/toBookingDateV2'
        - $ref: '#/components/parameters/creditDebitIndicatorV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountTransactionsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/accounts/v2/accounts/{accountId}/transactions-current':
    get:
      tags:
        - Accounts v2
      summary: Obtém a lista de transações recentes (últimos 7 dias) da conta identificada por accountId.
      operationId: accountsGetAccountsAccountIdTransactionsCurrent
      description: Método para obter a lista de transações recentes (últimos 7 dias) da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/fromBookingDateMaxLimitedV2'
        - $ref: '#/components/parameters/toBookingDateMaxLimitedV2'
        - $ref: '#/components/parameters/creditDebitIndicatorV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountTransactionsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/accounts/v2/accounts/{accountId}/overdraft-limits':
    get:
      tags:
        - Accounts v2
      summary: Obtém os limites da conta identificada por accountId.
      operationId: accountsGetAccountsAccountIdOverdraftLimits
      description: Método para obter os limites da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountIdV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountOverdraftLimitsV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/credit-cards-accounts/v2/accounts':
    get:
      tags:
        - Credit Card v2
      summary: Conjunto de informações das Contas de pagamento pós paga
      operationId: creditCardsGetAccountsV2
      description: Método para obter a lista de contas de pagamento pós-paga mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditCardAccountsListV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}':
    get:
      tags:
        - Credit Card v2
      summary: Obtém os dados de identificação da conta identificada por creditCardAccountId.
      operationId: creditCardsGetAccountsCreditCardAccountIdV2
      description: Método para obter os dados de identificação da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountIdV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditCardAccountsIdentificationV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/bills':
    get:
      tags:
        - Credit Card v2
      summary: Obtém a lista de faturas da conta identificada por creditCardAccountId.
      description: |
        Método para obter a lista de faturas da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.\
        Só deve ser informada uma fatura já fechada.\
        Qualquer pagamento deve ser contado para a última fatura fechada.
      operationId: creditCardsGetAccountsCreditCardAccountIdBillsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
        - $ref: '#/components/parameters/fromDueDateV2'
        - $ref: '#/components/parameters/toDueDateV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditCardAccountsBillsV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/bills/{billId}/transactions':
    get:
      tags:
        - Credit Card v2
      summary: Obtém a lista de transações da conta identificada por creditCardAccountId e billId.
      operationId: creditCardsGetAccountsCreditCardAccountIdBillsBillIdTransactionsV2
      description: |
        Método para obter a lista de transações da conta de pagamento pós-paga identificada por creditCardAccountId e billId mantida pelo cliente na instituição transmissora. 
        A lista a retornar se refere a transações após base 2/clearing/conciliado
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountIdV2'
        - $ref: '#/components/parameters/billIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
        - $ref: '#/components/parameters/fromTransactionDateV2'
        - $ref: '#/components/parameters/toTransactionDateV2'
        - $ref: '#/components/parameters/creditCardTransactionTypeV2'
        - $ref: '#/components/parameters/creditCardPayeeMCCV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditCardAccountsBillsTransactionsV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/limits':
    get:
      tags:
        - Credit Card v2
      summary: Obtém os limites da conta identificada por creditCardAccountId.
      operationId: creditCardsGetAccountsCreditCardAccountIdLimitsV2
      description: Método para obter os limites da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountIdV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditCardAccountsLimitsV2'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalPropertiesV2'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalPropertiesV2'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalPropertiesV2'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalPropertiesV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalPropertiesV2'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalPropertiesV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalPropertiesV2'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalPropertiesV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalPropertiesV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalPropertiesV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalPropertiesV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalPropertiesV2'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalPropertiesV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/transactions':
    get:
      tags:
        - Credit Card v2
      summary: Obtém a lista de transações da conta identificada por creditCardAccountId.
      operationId: creditCardsGetAccountsCreditCardAccountIdTransactionsV2
      description: |-
        Método para obter a lista de transações da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
        A lista a retornar se refere a transações após base 2/clearing/conciliado
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
        - $ref: '#/components/parameters/fromTransactionDateV2'
        - $ref: '#/components/parameters/toTransactionDateV2'
        - $ref: '#/components/parameters/creditCardTransactionTypeV2'
        - $ref: '#/components/parameters/creditCardPayeeMCCV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditCardAccountsTransactionsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/credit-cards-accounts/v2/accounts/{creditCardAccountId}/transactions-current':
    get:
      tags:
        - Credit Card v2
      summary: Obtém a lista de transações recentes (últimos 7 dias) da conta identificada por creditCardAccountId.
      operationId: creditCardsGetAccountsCreditCardAccountIdTransactionsCurrent
      description: Método para obter a lista de transações recentes (últimos 7 dias) da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
        - $ref: '#/components/parameters/fromTransactionDateMaxLimitedV2'
        - $ref: '#/components/parameters/toTransactionDateMaxLimitedV2'
        - $ref: '#/components/parameters/creditCardTransactionTypeV2'
        - $ref: '#/components/parameters/creditCardPayeeMCCV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditCardAccountsTransactionsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/consents/v2/consents':
    post:
      tags:
        - Consents v2
      summary: Criar novo pedido de consentimento.
      operationId: consentsPostConsentsV2
      description: Método para a criação de um novo consentimento.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsentV2'
        description: Payload para criação do consentimento.
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201ConsentsCreatedV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_write_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/consents/v2/consents/{consentId}/extends':
    get:
      tags:
        - Consents v2
      summary: Obter detalhes de extensões feitas no consentimento identificado por consentId.
      operationId: consentsGetConsentsConsentIdExtends
      description: Método para obter detalhes de extensões consentimento identificado por consentId.
      parameters:
        - $ref: '#/components/parameters/consentIdV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/200ConsentsConsentIdReadExtends'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
    post:
      tags:
        - Consents v2
      summary: Renovar consentimento identificado por consentId.
      operationId: consentsPostConsentsConsentIdExtends
      description: Método para renovar consentimento identificado por consentId, exceto casos com múltiplas alçadas. Nos casos de múltiplas alçadas, a transmissora deve retornar o status 422.
      parameters:
        - $ref: '#/components/parameters/consentIdV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConsentExtends'
        description: Payload para criação do consentimento.
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201ConsentsCreatedV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntityConsentsExtends'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - authorizer: [ ]
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_write_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/consents/v2/consents/{consentId}':
    get:
      tags:
        - Consents v2
      summary: Obter detalhes do consentimento identificado por consentId.
      operationId: consentsGetConsentsConsentIdV2
      description: Método para obter detalhes do consentimento identificado por consentId.
      parameters:
        - $ref: '#/components/parameters/consentIdV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/200ConsentsConsentIdReadV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
    put:
      operationId: consentsPutConsentsV2
      tags:
        - Consents v2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/consentId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConsent'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/OKResponseConsentFullV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_write_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
    delete:
      tags:
        - Consents v2
      summary: Deletar / Revogar o consentimento identificado por consentId.
      operationId: consentsDeleteConsentsConsentIdV2
      description: Método para deletar / revogar o consentimento identificado por consentId.
      parameters:
        - $ref: '#/components/parameters/consentIdV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '204':
          $ref: '#/components/responses/204ConsentsConsentIdDeletedV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseErrorV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_write_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/resources/v2/resources':
    get:
      tags:
        - Resources v2
      summary: Obtém a lista de recursos consentidos pelo cliente.
      operationId: resourcesGetResourcesV2
      description: Método para obter a lista de recursos mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseResourceList'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/loans/v2/contracts':
    get:
      tags:
        - Loans v2
      summary: Conjunto de informações  de contratos de empréstimo mantidos pelo cliente na instituição transmissora e para os quais ele tenha fornecido consentimento
      description: Método para obter a lista de contratos de empréstimo mantidos pelo cliente na instituição transmissora e para os quais ele tenha fornecido consentimento
      operationId: loansGetContractsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansContractListV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/loans/v2/contracts/{contractId}':
    get:
      tags:
        - Loans v2
      summary: Obtém os dados do contrato de empréstimo identificado por contractId
      description: Método para obter os dados do contrato de empréstimo identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: loansGetContractsContractIdV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansContractV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/loans/v2/contracts/{contractId}/warranties':
    get:
      tags:
        - Loans v2
      summary: Obtém a lista de garantias vinculadas ao contrato de empréstimo identificado por contractId
      description: Método para obter a lista de garantias vinculadas ao contrato de empréstimo identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: loansGetContractsContractIdWarrantiesV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansWarrantiesV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/loans/v2/contracts/{contractId}/scheduled-instalments':
    get:
      tags:
        - Loans v2
      summary: Obtém os dados do cronograma de parcelas do contrato de empréstimo identificado por contractId
      description: Método para obter os dados do cronograma de parcelas do contrato de empréstimo identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: loansGetContractsContractIdScheduledInstalmentsV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansInstalmentsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/loans/v2/contracts/{contractId}/payments':
    get:
      tags:
        - Loans v2
      summary: Obtém os dados de pagamentos do contrato de empréstimo identificado por contractId
      description: Método para obter os dados de pagamentos do contrato de empréstimo identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: loansGetContractsContractIdPaymentsV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansPaymentsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/financings/v2/contracts':
    get:
      tags:
        - Financings v2
      summary: Obtém os dados dos contratos de financiamentos
      description: Método para obter a lista de contratos de empréstimo mantidos pelo cliente na instituição transmissora e para os quais ele tenha fornecido consentimento
      operationId: financingsGetContractsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseFinancingsContractListV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/financings/v2/contracts/{contractId}':
    get:
      tags:
        - Financings v2
      summary: Obtém os dados do contrato de financiamento identificado por contractId
      description: Método para obter os dados do contrato de financiamento identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: financingsGetContractsContractIdV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseFinancingsContractV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/financings/v2/contracts/{contractId}/warranties':
    get:
      tags:
        - Financings v2
      summary: Obtém a lista de garantias vinculadas ao contrato de financiamento identificado por contractId
      description: Método para obter a lista de garantias vinculadas ao contrato de financiamento identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: financingsGetContractsContractIdWarrantiesV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseFinancingsWarrantiesV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/financings/v2/contracts/{contractId}/scheduled-instalments':
    get:
      tags:
        - Financings v2
      summary: Obtém os dados do cronograma de parcelas do contrato de financiamento identificado por contractId
      description: Método para obter os dados do cronograma de parcelas do contrato de financiamento identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: financingsGetContractsContractIdScheduledInstalmentsV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseFinancingsInstalmentsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/financings/v2/contracts/{contractId}/payments':
    get:
      tags:
        - Financings v2
      summary: Obtém os dados de pagamentos do contrato de financiamento identificado por contractId
      description: Método para obter os dados de pagamentos do contrato de financiamento identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: financingsGetContractsContractIdPaymentsV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseFinancingsPaymentsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/invoice-financings/v2/contracts':
    get:
      tags:
        - Invoice Financings v2
      summary: Obtém a lista de contratos de antecipação de recebíveis consentidos pelo cliente.
      description: Método para obter a lista de contratos de antecipação de recebíveis mantidos pelo cliente na instituição transmissora e para os quais ele tenha fornecido consentimento.
      operationId: invoiceFinancingsGetContractsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsContractListV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - invoice-financings
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/invoice-financings/v2/contracts/{contractId}':
    get:
      tags:
        - Invoice Financings v2
      summary: Obtém os dados do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: invoiceFinancingsGetContractsContractIdV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsContractV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - invoice-financings
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/invoice-financings/v2/contracts/{contractId}/warranties':
    get:
      tags:
        - Invoice Financings v2
      summary: Obtém a lista de garantias vinculadas ao contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter a lista de garantias vinculadas ao contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: invoiceFinancingsGetContractsContractIdWarrantiesV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsWarrantiesV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - invoice-financings
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/invoice-financings/v2/contracts/{contractId}/scheduled-instalments':
    get:
      tags:
        - Invoice Financings v2
      summary: Obtém os dados do cronograma de parcelas do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados do cronograma de parcelas do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: invoiceFinancingsGetContractsContractIdScheduledInstalmentsV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsInstalmentsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - invoice-financings
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/invoice-financings/v2/contracts/{contractId}/payments':
    get:
      tags:
        - Invoice Financings v2
      summary: Obtém os dados de pagamentos do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados de pagamentos do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: invoiceFinancingsGetContractsContractIdPaymentsV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsPaymentsV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - invoice-financings
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/unarranged-accounts-overdraft/v2/contracts':
    get:
      tags:
        - Unarranged Accounts Overdraft v2
      summary: Obtém a lista de contratos de adiantamento a depositantes consentidos pelo cliente.
      description: Método para obter a lista de contratos de adiantamento a depositantes mantidos pelo cliente na instituição transmissora e para os quais ele tenha fornecido consentimento.
      operationId: unarrangedAccountsOverdraftGetContractsV2
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/pageV2'
        - $ref: '#/components/parameters/pageSizeV2'
        - $ref: '#/components/parameters/pagination-keyV2'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseUnarrangedAccountOverdraftContractListV2'
        '400':
          $ref: '#/components/responses/BadRequestV2'
        '401':
          $ref: '#/components/responses/UnauthorizedV2'
        '403':
          $ref: '#/components/responses/ForbiddenV2'
        '404':
          $ref: '#/components/responses/NotFoundV2'
        '405':
          $ref: '#/components/responses/MethodNotAllowedV2'
        '406':
          $ref: '#/components/responses/NotAcceptableV2'
        '422':
          $ref: '#/components/responses/UnprocessableEntityV2'
        '423':
          $ref: '#/components/responses/LockedV2'
        '429':
          $ref: '#/components/responses/TooManyRequestsV2'
        '500':
          $ref: '#/components/responses/InternalServerErrorV2'
        '504':
          $ref: '#/components/responses/GatewayTimeoutV2'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedV2'
        default:
          $ref: '#/components/responses/DefaultV2'
      security:
        - authorizer: [ ]
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: "${mockbank_read_arn}"
        passthroughBehavior: when_no_match
        timeoutInMillis: 29000
  '/open-banking/unarranged-accounts-overdraft/v2/contracts/{contractId}':
    get:
      tags:
        - Unarranged Accounts Overdraft v2
      summary: Obtém os dados do contrato de adiantamento a depositantes identificado por contractId
      description: Método para obter os dados do contrato de adiantamento a depositantes identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: unarrangedAccountsOverdraftGetContractsContractIdV2
      parameters:
        - $ref: '#/components/parameters/contractIdV2'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
[...]
